.page
  %header#page-header
    .wrapper
      %h1#logo
        = link_to "SolSeed", "/"
      %ul
        %li
          = link_to "Our Beliefs", "/We-Believe"
        %li
          = link_to "Join Us", "/Join-Us"
        %li
          = link_to "On Facebook", "http://www.facebook.com/SolSeed"
        %li
          = link_to "Our Wiki", "http://wiki.solseed.org"
  .page-content
    .wrapper
      %h1
        SolSeed ... Embrace Science. Cherish the Earth. Bring Life!
      %h2
        The SolSeed Movement - A Community of Practice
      %p
        The SolSeed movement is a religion which believes that
        %ul
          %li science tells the truth, and
          %li life, all life, is precious and
          %li the purpose of humanity is to nurture life.
 
      %p
        Science has revealed a story about a universe billions of years old
        which may last forever. This fills us with awe.
 
      %p      
        We revere the 600 million years of history of complex life on Earth and
        we are filled with hope by the youth of life when compared to the
        billions of years of future it will enjoy. We see its story as a story
        of exuberantly bursting through boundaries to flower and spread.
 
      %p
        Humanity is part of this story and we believe that we have a key role
        to play. The probes that we have sent to explore our solar system have
        sent back picture after picture of barren lifeless worlds. For every
        life-rich world like Earth there may be billions of lifeless worlds in
        the universe.
 
      %p
        This creates in us an urge to do two things:
        %ul
          %li
            nurture and care for the precious life here on Earth and
          %li
            help life burst through the final boundary and take root and
            flower amongst the stars; to help the Earth give birth to a
            family of living worlds.

      %p
        Bring Life!
