%h1 Listing subscriptions

%table
  %tr
    %th Email
    %th Confirmation token
    %th Confirmed at
    %th Confirmation sent at
    %th
    %th
    %th

  - @subscriptions.each do |subscription|
    %tr
      %td= subscription.email
      %td= subscription.confirmation_token
      %td= subscription.confirmed_at
      %td= subscription.confirmation_sent_at
      %td= link_to 'Show', subscription
      %td= link_to 'Edit', edit_subscription_path(subscription)
      %td= link_to 'Destroy', subscription, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Subscription', new_subscription_path
