= render "we_believe/pages/venerable_life",          page: 1
= render "we_believe/pages/upward_spiral",           page: 3
= render "we_believe/pages/body_of_all_life",        page: 5
= render "we_believe/pages/take_root_and_flower",    page: 7
= render "we_believe/pages/called",                  page: 9
= render "we_believe/pages/dedicated",               page: 11
= render "we_believe/pages/awakening",               page: 13
= render "we_believe/pages/sacred_practice",         page: 15
= render "we_believe/pages/passion_drives",          page: 17
= render "we_believe/pages/embrace_passion",         page: 19
= render "we_believe/pages/empathy_is_transcendant", page: 21
= render "we_believe/pages/cultivate_empathy",       page: 23
= render "we_believe/pages/wisdom_is_effective",     page: 25
= render "we_believe/pages/pursue_wisdom",           page: 27
= render "we_believe/pages/we_bring_life",           page: 29
