-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
  .top-bar-section
    .off-canvas-wrap
      .inner-wrap
        %nav.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
            %aside.left-off-canvas-menu
              %ul
                %li= link_to "Home", root_path
                %li= link_to "Our Beliefs", "/we_believe"
                %li= link_to "On Facebook", "http://www.facebook.com/SolSeed"
                %li= link_to "Our Wiki", "http://www.solseed.org"
                %li= link_to "Connect", "/subscriptions/new"
            %a.exit-off-canvas
          %section.middle.tab-bar-section
            %h1.title
              = link_to image_tag("SolSeed-Emblem.png"), root_path
              = link_to "SolSeed ... Embrace Science. Cherish the Earth. Bring Life!", "/"
          %section.right-small
            %a.right-off-canvas-toggle.menu-icon
              %span
