.side-bar
  %ul.side-nav
    %li= link_to "Home", root_path
    %li= link_to "Our Beliefs", "/we_believe"
    %li= link_to "On Facebook", "http://www.facebook.com/SolSeed"
    %li= link_to "Our Wiki", "http://wiki.solseed.org"
    %li= link_to "Connect", "/subscriptions/new"
    %li= link_to "New! Gaia's Heartbeat", "https://www.youtube.com/watch?v=cUKilzvWpIc"
  - if show_sidebar_subscription
    .subscribe
      = render "subscriptions/form"
