!!!
%html
  %head
    %title Funnel
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-16581630-1', 'solseed.org');
      ga('send', 'pageview');
    .page
      %header#page-header
        .wrapper
          %h1#logo
            = link_to "SolSeed ... Embrace Science. Cherish the Earth. Bring Life!", "/"
          %ul
            %li
              = link_to "Our Beliefs", "/we_believe"
            %li
              = link_to "Join Us", "/subscriptions/new"
            %li
              = link_to "On Facebook", "http://www.facebook.com/SolSeed"
            %li
              = link_to "Our Wiki", "http://wiki.solseed.org"
      .page-content
        .wrapper
          = yield