!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "description", content: "#{content_for?(:description) ? yield(:description) : 'The Homepage of the SolSeed truth, beauty, and values movement.'}"}
    %title= content_for?(:title) ? yield(:title) : "The SolSeed Movement"
    = javascript_include_tag "vendor/modernizr", :async => true
    = javascript_include_tag "application", "data-turbolinks-track" => true, :async => true
    = csrf_meta_tags
  %body
    .off-canvas-wrap
      .inner-wrap
        %nav.tab-bar.show-for-small-only{ "data-options" => "is_hover: false" }
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon
              %span
          %section.middle.tab-bar-section
            %h1.title.show-for-small-only
              = link_to "SolSeed", "/"
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li= link_to "Home", root_path
            %li= link_to "Our Beliefs", "/we_believe"
            %li= link_to "On Facebook", "http://www.facebook.com/SolSeed"
            %li= link_to "Our Wiki", "http://www.solseed.org"
            %li= link_to "Connect", "/subscriptions/new"
        %section.main-section
          %main{:role => "main"}
            .row.show-for-medium-up
              %header
                %h1.title.show-for-medium-up
                  = link_to image_tag("SolSeed-Emblem.png"), root_path
                  = link_to "SolSeed ... Embrace Science. Cherish the Earth. Bring Life!", "/"
            .row
              .small-2.show-for-medium-up.columns
                .hide-for-small
                  = render 'layouts/sidebar'
              .medium-10.columns
                = render 'layouts/messages'
                = yield
        %a.exit-off-canvas

= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
