!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "description", content: "#{content_for?(:description) ? yield(:description) : 'The Homepage of the SolSeed truth, beauty, and values movement.'}"}
    %title= content_for?(:title) ? yield(:title) : "The SolSeed Movement"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .row
        .large-2.medium-2.columns
          .hide-for-small
            = render 'layouts/sidebar'
        .large-10.medium-10.columns
          = render 'layouts/messages'
          = yield
